PORT=5000
BACKEND_URL=http://localhost:5000
MONGODB_URI=mongodb+srv://<username>:<pass>@cluster0.thi5oil.mongodb.net/<databasemame>
JWT_SECRET=123456789
JWT_REFRESH_SECRET=987654321
FRONTEND_URL=http://localhost:5173
WIKIPEDIA_CLIENT_ID=
WIKIPEDIA_CLIENT_SECRET=
WIKIPEDIA_CALLBACK_URL=http://localhost:5000/api/auth/wikipedia/callback
WIKIPEDIA_OAUTH_BASE_URL=https://en.wikipedia.org/w/rest.php/oauth2
WIKIPEDIA_OAUTH_SCOPES=
NODE_ENV=development
